---
# tasks file for deploy     
- name: Update the System Packages
  apt:
    upgrade: yes
    update_cache: yes

- name: Ensure JDK, Tomcat is present
   apt: name={{item}} state=present
   with_items:
     - default-jdk
	   - tomcat9
 
- name: Ensure Tomcat service is started
  service:
    name: tomcat9
    state: started
    
- name: Synchronization artifact hello-1.0.war
  synchronize:
    src: "{{ file_artefact }}"
    dest: "{{ folder_tomcat }}"
  delegate_to: 84.252.128.99
  notify: 
   - restart tomcat9
