---
version: '3.9'
services:
  bild:
    build: bild
    container_name: bild
    volumes:
    - type: volume
      source: boxfuse
      target: /boxfuse/boxfuse-sample-java-war-hello/target
  prod:
    build: prod
    container_name: prod
    volumes:
    - type: volume
      source: boxfuse
      target: /opt/tomcat/webapps  
  ports:
    - "8080:8080"
volumes:
  boxfuse:

